

*{
	padding:0;
	margin:0;
}

body{
	font-family: 'officeReg';
	font-size: 100%;
	background:#f8f8f8;
}

h1 {
	font-family: 'helvetica';
	font-weight: bold;
	font-size: 120px;
}

a{
	text-decoration: none;
	color:#0000ff;
}

	a:hover{
		text-decoration: underline;
	}

p{
	line-height: 2em;
	margin:0 0 20px;
	text-align: left;
}

.wrap{
	max-width: 600px;
	margin:150px auto;
}

#container {
	width: 65%;
	margin: 0 auto;
	text-align: left;
}

.type-wrap{
	margin:10px auto;
	padding:20px;
	background:#f0f0f0;
	border-radius:5px;
	border:#CCC 1px solid;
}

#img {
  position: absolute;
  width: 50px;
}


#box1{
	margin:0 auto;
	text-align:center;
	margin-top: 100px;
}

.links{
	margin:20px 0;
	font-size: 0.75em;
	text-align: center;
}
